

 /*--------------------------------------------------------------
# navbar section
--------------------------------------------------------------*/
#navbar1{

  background-color: #E9E9E9;
}

#navbar1 .search button{
  background-color: black;
  color: #F8F9FA;
  border-radius: 0px 10px 10px 0px;
 
}


#navbar1 .search1  {
 
  color: #E9E9E9;
  border-radius: 10px 0px 0px 10px;
width: 500px;
 
}
@media (max-width: 600px) {
  #navbar1 .search1 {
    width: 250px;
  }

}

 .navbar{
background-color: #F9F8F8;

 } 
 
.navbar .nav .nav-link {
  font-size: 20px;
  padding-left: 4rem;
  padding-right: 4rem;
  color: #000000;
  font-weight: 500;
  transition: 0.4s;
}
.navbar .nav .nav-link:hover {
  
  color: #6a6d70;
  
}
@media (max-width: 999px) {
  .navbar .nav .nav-link {
    font-size: 15px;
    padding-left: 1rem;
    padding-right: 1rem;
  }

}
 /*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
 

@media (max-width: 1000px) {

 #hero .carousel .carousel-indicators{
    position: absolute;
    bottom: -50px;
  
  }

}
#hero .carousel .carousel-indicators li {
  width: 7px;
 height: 7px;
 border-radius: 100%;
 margin-left: 1rem;
 margin-right: 1rem;
 transition: 1.0s;
 background-color: #c2adad;
}
#hero .carousel .carousel-indicators li.active{
  
 background-color: #242323;
}

 

#hero  .carousel-control-prev-icon{

  filter: invert(100%);
position:absolute;
bottom: 260px;
left: 30px;
}

#hero .carousel-control-next-icon{

 
  filter: invert(100%);
  position:absolute;
  bottom: 260px;
  right: 30px;
}

@media (max-width: 1000px) {
  #hero .carousel-control-prev-icon{

    bottom: 170px;
    left: 16px;
    
  }

  #hero .carousel-control-next-icon{

    right: 16px;
    
    bottom: 170px;
  }
}




#hero {
    width: 100%;
   
     
  }
  

  
  #hero h1 {
    margin: 0 0 10px 0;
    font-size: 50px;
    font-weight: 500;
    line-height: 56px;
    color: rgb(31, 28, 28);
  }
  
  #hero h2 {
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 50px;
    font-size: 20px;
  }
  


  #hero .carousel-item .btn-get-started {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 11px 28px;
    border-radius: 10px;
    transition: 0.5s;
    margin: 10px 0 0 0;
 color: #fff;
    background: #000000;
    border:0px;
  }
  
  #hero .btn-get-started:hover {
    background: #515457;
  }
  
 
  

  
  @media (max-width: 991px) {
    #hero {
     
      text-align: center;
    }
    #hero .animated {
      -webkit-animation: none;
      animation: none;
    }
    #hero .hero-img {
      text-align: center;
    }
    #hero .hero-img img {
      width: 50%;
    }
  }
  
  @media (max-width: 768px) {
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
    #hero .hero-img img {
      width: 70%;
    }
  }
  
  @media (max-width: 575px) {
    #hero .hero-img img {
      width: 80%;
    }
    #hero .btn-get-started {
      font-size: 16px;
      padding: 10px 24px 11px 24px;
    }
  }
  
  @-webkit-keyframes up-down {
    0% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-10px);
    }
  }
  
  @keyframes up-down {
    0% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-10px);
    }
  }

  /*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .section-bg {
    background-color: #FFFFFF;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: 25px;
    font-weight: 680;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #00040a;
  }
  
  .section-title h2::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
  }
  
  .section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #47b2e4;
    bottom: 0;
    left: calc(50% - 20px);
  }
  
  .section-title p {
    margin-bottom: 0;
  }

 /*--------------------------------------------------------------
# Searchsec
--------------------------------------------------------------*/

#searchpad{
  background-color: #E2E2E2;
}

#searchpad h4{
text-align: center;
 
margin-top: 15%;

}

#searchpad .form-inline .searchinput{
  border-radius: 0px;
  border: 0px;
height: 50px;
font-size: 13px;
  margin-right: 10px;
  
}

 

#searchpad .input-group button{
  border-radius: 0px;
background-color: #000000;
font-size: 13px;
 
}
  /*--------------------------------------------------------------
# transport delivery section
--------------------------------------------------------------*/
.funding .member {
  position: relative;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 5px;
  background: #fff;
  transition: 0.2s;
}

.funding .member .pic {
  overflow: hidden;
  width: 100px;
 
}

@media (max-width: 500px){

  .funding .member .pic {
    
   max-width: 60px;
  }

}



.funding .member:hover  {
  transform: translateY(-10px);
  transition: 0.3s;
}



.funding .member h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
  color: #01070f;
}

.funding .member span {
  display: block;
  font-size: 15px;
  padding-bottom: 10px;
  position: relative;
  font-weight: 500;
}



.funding .member p {
 color: #7B7A7A;
  margin: 27px 0 0 0;
  font-size: 14px;
}


 


/*--------------------------------------------------------------
# Style for all
--------------------------------------------------------------*/
.style .member {
  width: 100%;
  height: 100%;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);

  border-radius: 10px;
 
 
}

#style .member-info{

  padding: 20px;

}

 

.style .member h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 26px;
  color: #ffffff;
}

 

 

.style .member p {
  margin: 10px 0 25px 0;
  font-size: 14px;
  color: #ffffff;
}

#style .member-info    .bottom-left {
  bottom: 10px;
  left: 26px;
   
}

#style .pic    img {
  margin-top: 10px;
  
}

#style .member-info .bottom-left button {
 background-color: #23272B;
  font-size: 12px;
  font-weight: 500;
  padding-left: 19px;
  padding-right: 19px;
  border-radius: 8px;
  border: 0px;
}
#style .member-info .bottom-left button:hover{

  background-color: #515457;
}
/*--------------------------------------------------------------
# Card sectn
--------------------------------------------------------------*/
 

.itemsec .card{

  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}


.itemsec .card .cardbutton{
background-color: #F3F2F0;

}
.itemsec .card .cardbutton .btn{
border-radius: 50px;
color: #c2adad;
background-color: #ddcdcd;

padding: 3px;
padding-left: 5px;
padding-right: 5px;
margin-top: 4px;
margin-right: 6px;
font-size:14px;
}
.itemsec .card .cardbutton .btn:active{
 
  color: #c53838;
  background-color: #ddcdcd;
  
  }

  #itemsec  .carousel-control-prev-icon{

    filter: invert(100%); 
  position:absolute;
  bottom: 200px;
  left: 46px;
  }
  
  #itemsec .carousel-control-next-icon{
  
    filter: invert(100%);
     
    position:absolute;
    bottom: 200px;
    right: 46px;
  }
  
  @media (max-width: 800px) {
    #itemsec .carousel-control-prev-icon{
  
      bottom: -30px;
     
      
    }
  
    #itemsec .carousel-control-next-icon{
  
   
      
      bottom: -30px;
    }
  }

.itemsec .card .cardimage{
background-color: #F3F2F0;

}

@media (max-width:1200px) {
  .itemsec .card .cardimage img{
   
    height: auto;
    }
 
  .itemsec .card .cardimage {
  
    height: auto;
    }
}

.itemsec .card .card-body{
  height: 160px;
  margin-top: -17px;
  margin-bottom: -17px;
}

.itemsec .card .cardimage img{
height: 186px;

}

.itemsec .card .card-body .card-subtitle, .card-text{
font-size: 13px;

}
.itemsec .card .card-body .priceC .btn{
  font-size: 10px;
  font-weight: 400;
  
  position:absolute;
  bottom: 12px;
  right: 10px;
  height: 27px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 8px;
  border: 0px;
background-color:#23272B ;
}
.itemsec .card .card-body .priceC .btn:hover{
 
background-color:#515457 ;
}
/*--------------------------------------------------------------
# frame sectn


 
--------------------------------------------------------------*/
.frames    .bg1 {

  background-image: url(Assets/images/Mask\ Group\ 72.png);
}

.frames    .bg2 {

  background-image: url(Assets/images/Mask\ Group\ 73.png);
}

 .frame1{


  background-size: cover;
  background-repeat: no-repeat;
 background-position: center center;
 box-shadow: 25px 30px 300px rgb(0, 0, 0) inset;
 
}

.contentframe{
  color:snow;

  background: rgba(212, 194, 194, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.5);
margin-top: 450px;
margin-left: 60px;
padding-bottom: 50px;
}

.frames    .bottom-right button{
  font-size: 26px;
  width: 200px;
}


/*--------------------------------------------------------------
# Cliens
--------------------------------------------------------------*/
.cliens {
  padding: 12px 0;
  text-align: center;
}

.cliens img {
  max-width: 55%;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 25px 0;
  filter: grayscale(100);
}

.cliens img:hover {
  filter: none;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .cliens img {
    max-width: 40%;
  }
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  font-size: 14px;
  background: #EFEFF4;
}


#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #fff;
  
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 28px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 600;
  color: #37517e;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Jost", sans-serif;
  color: #5e5e5e;
}

#footer .footer-top h4 {
  font-size: 19px;
  font-weight: 500;
  color: #02070f;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #47b2e4;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #47b2e4;
}

#footer .footer-bottom .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #EFEFEF;
  color: rgb(0, 0, 0);
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-bottom .social-links a:hover {
  background: #677175;
  color: #fff;
  text-decoration: none;
}

#footer .footer-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
}

#footer .copyright {
  float: left;
  color: #5e5e5e;
}

#footer .credits {
  float: right;
  font-size: 13px;
}

#footer .credits a {
  transition: 0.3s;
}

@media (max-width: 768px) {
  #footer .footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #footer .copyright, #footer .credits {
    text-align: center;
    float: none;
  }
  #footer .credits {
    padding-top: 4px;
  }
}






 